.completed {
    text-decoration: line-through
}

.pending {
    text-decoration: none
}

.todo {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.todoForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
    padding: 10px;
}

.todoForm .newTodo {
    display: flex;
    width: 100%;
    height: 65px;
    max-height: 65px;
}

.newTodo input {
    width: 80%;
    height: 55px;
    max-height: 55px;
    border: 2px solid black;
    font-size: 14px;
}

.newTodo button {
    width: 20%;
    max-height: 60.2px;
    height: 60.2px;
    font-size: 30px;
    background: black;
    color: white;
}


.todoForm .todoFormButton {
    display: flex;
    margin-top: 20px;
}

.todoFormButton button {
    width: 50%;
    max-height: 50px;
    height: 50px;
    font-size: 16px;
    background: black;
    color: white;
}

.todoDisplay {
    border: 1px solid black;
    display: flex;
    width: 70%;
}

.todoDisplay .currentTodos {
    border: 2px solid green;
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    max-width: 100%;
}

.todoDisplay .oldTodos {
    border: 2px solid blue;
    width: 100%;
    padding: 10px;
}

.singleTodo {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0 10px;
}

.singleTodo p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}