.completed {
    text-decoration: line-through
}

.pending {
    text-decoration: none
}

.todo {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.todoForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
    padding: 10px;
}

.todoForm .newTodo {
    display: flex;
    width: 100%;
    height: 65px;
    max-height: 65px;
}

.newTodo input {
    width: 80%;
    height: 55px;
    max-height: 55px;
    border: 2px solid black;
    font-size: 14px;
}

.newTodo button {
    width: 20%;
    max-height: 60.2px;
    height: 60.2px;
    font-size: 30px;
    background: black;
    color: white;
}


.todoForm .todoFormButton {
    display: flex;
    margin-top: 20px;
}

.todoFormButton button {
    width: 50%;
    max-height: 50px;
    height: 50px;
    font-size: 16px;
    background: black;
    color: white;
}

.todoDisplay {
    display: flex;
    width: 70%;
}

.todoDisplay .currentTodos {
    border-top: 2px solid orange;
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    max-width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.todoDisplay .oldTodos {
    border-top: 2px solid green;
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.singleTodo {
    border-top: 2px solid grey;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.singleTodo:hover {
    box-shadow: 3px 3px 5px 6px #ccc; 
}

.singleTodo .removeSelected {
    background: orangered;
    color: white;
    font-size: 16px;
}

.singleTodo .old {
    background: green;
    color: white;
    font-size: 16px;
    pointer-events: none;
}

.singleTodo p {
    display: flex;
    width: 100%;
}

